@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-primaryDark text-primaryLight font-hkgrotesk; /* Use the defined colors */
  }

/* In index.css or App.css */

/* Regular weight */
@font-face {
    font-family: 'HKGrotesk';
    src: url('./assets/fonts/HKGrotesk-Regular.woff2') format('woff2'),
         url('./assets/fonts/HKGrotesk-Regular.woff') format('woff');
    font-weight: 400; /* Regular weight */
    font-style: normal;
  }
  
  /* Bold weight */
  @font-face {
    font-family: 'HKGrotesk';
    src: url('./assets/fonts/HKGrotesk-Bold.woff2') format('woff2'),
         url('./assets/fonts/HKGrotesk-Bold.woff') format('woff');
    font-weight: 700; /* Bold weight */
    font-style: normal;
  }
  
  /* Light weight */
  @font-face {
    font-family: 'HKGrotesk';
    src: url('./assets/fonts/HKGrotesk-Light.woff2') format('woff2'),
         url('./assets/fonts/HKGrotesk-Light.woff') format('woff');
    font-weight: 300; /* Light weight */
    font-style: normal;
  }
  
  